!!!
%html
  %head
    %link{:href => "http://fonts.googleapis.com/css?family=Ubuntu:700", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Montserrat", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,300", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:rel => :stylesheet, :type => :"text/css", :href => "css/styles.css"}

  %body
    %header
      .container
        .row
          .col-md-12.text-center
            %h1 Benjamin Tan Wei Hao
            %h2 Software Engineer / Author / Speaker
            %h3 http://benjamintan.io

    %section#coding
      .container
        .row
          .col-md-12
            %h2 Work
            %hr

            %h3 Software Engineer, Pivotal Labs, Inc (Feb 2016 - Present)
            %h4 http://www.pivotallabs.com

            %p Neo Innovation was acquired by Pivotal Labs in February, 2016.

            %h3 Software Engineer, Neo Innovation, Inc (June 2014 - Feb 2016)
            %h4 http://www.neo.com

            %p I empower clients to turn their ideas and vision into high-quality products through software best-practices like pairing and test-driven development. I've worked with clients ranging from startups to large enterprises.

            %h3 Technical Director, Qisahn Pte. Ltd. (April 2014 - June 2014)
            %h4 http://www.qisahn.com

            %p I built the e-commerce site, which serves between 5000 to 7000 users a day. I also built the POS system that is used daily by the store staff.

            %h2 Open Source
            %hr
            %h3 http://github.com/benjamintanweihao

            %p I have contributed to open source projects such as Rails on Rails, the Phoenix web framework, and the Elixir programming language.

            %br

    %section#writing
      .container
        .row
          .col-md-12
            %h2 Writing
            %hr

            %h3 The Little Elixir and OTP Guidebook
            %h4 https://www.manning.com/books/the-little-elixir-and-otp-guidebook

            %p
              This book gets you started programming applications with Elixir and OTP. You begin with a quick overview of the Elixir language syntax, along with just enough functional programming to use it effectively. Then, you'll dive straight into OTP and learn how it helps you build scalable, fault-tolerant and distributed applications through several fun examples.

            %p This book is published by Manning Publications.

            %h3 The Ruby Closures Book
            %h4 http://www.rubyclosur.es

            %p
              Blocks, Procs and Lambdas are the language features that make Ruby one of the most beautiful and pleasant languages to work with. In order to be a truly effective, you must be comfortable with not only understanding these features but more importantly, using them. With this knowledge, you can write code that is elegant, expressive and a joy to use. The road to Ruby mastery is paved with Blocks, Procs, and Lambdas.

            %p This book will be published by The Pragmatic Bookshelf.

            %h3 SitePoint
            %h4 http://www.sitepoint.com/author/btan/

            %p I am a regular contibutor to SitePoint, which aims to provide cutting edge resources to web professionals. Here are some topics that I have written about:
            %ul
              %li Making a Countdown Latch in Ruby
              %li Implementing Futures in Ruby
              %li Implementing Lazy Enumerables in Ruby
              %li Being productive in Tmux
              %li Testing Page Objects with SitePrism
              %li ZeroMQ with Ruby
              %li Opal: Ruby in Your Browser

    %section#speaking
      .container
        .row
          .col-md-12
            %h2 Speaking
            %hr

            %h3 Ruby Conf 2014 (San Diego)
            %h4 http://confreaks.com/videos/5078-RubyConf2014-rubyists-have-a-sip-of-elixir

            %p I spoke at Ruby Conf 2014 at San Diego. Ruby Conf is the main annual gathering of Rubyists from around the world since 2001.

            %p I spoke to an audience of more than 300, where I introduced some of Elixir's more interesting language features, and demonstrated some of the features that Erlang gives Elixir for free.

            %h3 Red Dot Ruby Conf 2014 (Singapore)
            %h4 http://confreaks.com/videos/3845-rdrc2014-ruby-elixir-polyglotting-ftw

            %p I spoke at Red Dot Ruby Conf 2014 in Singapore. The talk was titled "Ruby + Elixir: Polyglotting FTW!".

            %p In this talk, I gave an introduction of Elixir, and demonstrated some of its capabilities. Then, I showed how Elixir could exploit the powerful features of Elixir.

            %p The conference was attended by over 300 people, mostly comprising of software professional from around the region.

            %h3 Geekcamp.SG 2014 (Singapore)

            %p I spoke at Geekcamp.SG 2014, held at the National University of Singapore. I gave an introduction of Elixir to an audience mostly comprising of university students.

    %section#education
      .container
        .row
          .col-md-12
            %h2 Education
            %hr

            %h3 National University of Singapore (2007 - 2011)
            %h4 Bachelor, Computing (Computer Science)

            %h3 Stanford University (2009 - 2010)
            %h4 MSE, Technopreneurship
